<!DOCTYPE HTML>
<html lang="en-us">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Widgets Magazine</title>
    <style type="text/css" media="screen">
    </style>
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        googletag.cmd.push(function () {
            googletag.defineSlot('/21786541888/Mambo13junho', [300, 250], 'div-gpt-ad-1560880599254-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
</head>

<body>

    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}<br><br>


    <p>Inicio da tag Ad Manager<br>
        <!-- /21786541888/Mambo13junho -->
        <div id='div-gpt-ad-1560880599254-0' style='height:250px; width:300px;'>
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1560880599254-0'); });
            </script>
        </div>
        <br>Fim da tag Ad Manager
    </p>
</body>